/* .card__delete-button {
    max-width: 18px;
    max-height: 19.3px;
    margin-top: 18px;
    margin-left: 249px;
    position: absolute;
    z-index: 2;
  }
  
  .card__delete-button:hover {
    opacity: 0.6;
  } */