.popup__text {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  border-bottom: 1px solid #d8d4d4;
  width: 358px;
  margin: 0 36px 10px;
  align-self: center;
 
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .popup__text {
    max-width: 238px;
    margin: 10px 0 46px;
    
  }
}