.container__main__text-footer_link {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  color: #FFFFFF;
}

.container__main__text-footer_link:hover {
    opacity: 0.6;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    .container__main__text-footer_link {
      font-size: 12px;
    }
  }