.header__text_email {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 2;
    color: white;
    margin-right: 25px;
    margin-top: 0;
}